/WorkHoursRedmine/WorkHoursRedmine/bin
/WorkHoursRedmine/WorkHoursRedmine/obj
/WorkHoursRedmine/.vs/WorkHoursRedmine/v14/.suo
/NotificationRedmine/NotificationRedmine/bin
/NotificationRedmine/NotificationRedmine/obj
/NotificationRedmine/.vs/NotificationRedmine/v14/.suo
/LoadHoursRedmine/LoadHoursRedmine/bin
/LoadHoursRedmine/LoadHoursRedmine/obj
/LoadHoursRedmine/.vs/LoadHoursRedmine/v14/.suo
